
<app-menu></app-menu>

<body>
  


<!-- Button trigger modal -->
<section class="contenedor">
  
    <div class="formulario">
      <h1 class="titulo">CONTACTENOS</h1>
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Ingresa tu Nombre">
          </div>
          
        </div>
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Ingresa tu Email">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Asunto</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Ingresa tu Asunto">
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputCity">¿En que te podemos ayuda?</label>
           
            <textarea name="mensaje" id="" cols="30" rows="6" class="form-control" placeholder="Ingresa tu Mensaje"></textarea>
          </div>
          
        </div>
        <div class="form-group">
          
        </div>
        <button type="submit" class="btn btn-primary btn-lg boton">Enviar</button>
      </form>
    </div>

    <div class="imagencont">
      <img src="../../../assets/images/contacto.png" alt="">
    </div>

  
</section>

</body>
<app-footer></app-footer>