<app-menu></app-menu>

<app-header></app-header>

<div class="quienessomos">
    <div class="container">
        <div class="texto">
            <h1>¿QUIENES SOMOS?</h1>
            <p>HEY wallet es una aplicacion web que se encarga de tus <b>finanzas personales</b>, deudas, pagos, ingresos y egresos.
                <br>
                <br>
             mejor es que te recuerda lo que debes <b>ahorrar </b>mes a mes segun tus finanzas para que logres todas tus metas.
            </p>
        </div>
        <div class="imagen">
            <img src="../../../assets/images/quienes somos.png" alt="">
        </div>
    </div>
</div>

<img class="ola" src="../../../assets/images/ola-gris.png" alt="">

<div class="funcionalidades">
    <h1>FUNCIONALIDADES</h1>
    <div class="fun-container">
        <img src="../../../assets/images/ilustracion-funcionalidades.png" alt="">
        <div>
            <ul class="lista">
                <li>Manejo de ingresos</li>
                <li>Registro de egresos</li>
                <li>Contabilidad deudas</li>
                <li>Registro de gastos</li>
                <li>Manejo del ahorro</li>
                <li>Metas de ahorro</li>
            </ul>            
        </div>        
        <div>
    </div>
</div>
<img src="../../../assets/images/ola-gris-abajo.png" alt="" class="ola-abajo">


<section class="container-regis">
    <div class="registrese-position">
        <div class="registrese">
            <h1>REGISTRATE</h1>
            <h1>¡ES GRATIS! </h1>
            <app-registro></app-registro>
        </div>

        <div class="imagenregis">
            <img src="../../../assets/images/ilustracion-registro.png" alt="">

        </div>
    </div>
</section>


<app-footer></app-footer>
