<app-menu></app-menu>
<div class="wallets">
    <section class="container stop">
        <div class="wallet1">
            <a href=""  [routerLink]="['/wallet/my-wallet/fiat']">
                <img src="../../../assets/images/billetera.png" alt="">
                <h2>Wallet Fiat</h2>
             </a>
        </div>

        <div class="wallet1 disable">
            
                <img src="../../../assets/images/billetera-bitcoin.png" alt="">
                <h2>CriptoWallet</h2>
                <p>(En Desarollo)</p>
            
        </div>
    </section>
</div>

<app-footer></app-footer>